<div class="mb-3" data-select2-id="6">
    <label for="panchayatSearch" class="form-label">Select Panchayat</label>
    <select id="panchayatSearch" name="panchayats" class="form-select select2-hidden-accessible" style="width: 100%;"
        data-select2-id="panchayatSearch" tabindex="-1" aria-hidden="true">
        <option value="" data-select2-id="30">Select a Panchayat</option>
        <option value="Pipriya " data-select2-id="32">Pipriya </option>
        <option value="saidpura" data-select2-id="33">saidpura</option>
        <option value="Ramchandarp" data-select2-id="34">Ramchandarp</option>
        <option value="Mohanpur " data-select2-id="35">Mohanpur </option>
        <option value="Walipur " data-select2-id="36">Walipur </option>
    </select><span
        class="select2 select2-container select2-container--default select2-container--above select2-container--open select2-container--focus"
        dir="ltr" data-select2-id="1" style="width: 100%;"><span class="selection"><span
                class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                aria-expanded="true" tabindex="0" aria-disabled="false"
                aria-labelledby="select2-panchayatSearch-container" aria-owns="select2-panchayatSearch-results"
                aria-activedescendant="select2-panchayatSearch-result-pjr6-Pipriya "><span
                    class="select2-selection__rendered" id="select2-panchayatSearch-container" role="textbox"
                    aria-readonly="true"><span class="select2-selection__placeholder">Select a
                        Panchayat</span></span><span class="select2-selection__arrow" role="presentation"><b
                        role="presentation"></b></span></span></span><span class="dropdown-wrapper"
            aria-hidden="true"></span></span>
</div>

<div class="mb-3" data-select2-id="38">
    <label for="panchayatSelect" class="form-label">Panchayat</label>
    <select id="panchayatSelect" class="form-select select2-hidden-accessible" name="panchayat" style="width: 100%;"
        data-select2-id="panchayatSelect" tabindex="-1" aria-hidden="true">
        <option value="" data-select2-id="36">Select a Panchayat</option>
        <option value="KURSANDI" data-select2-id="40">KURSANDI</option>
        <option value="SAPARDAH" data-select2-id="41">SAPARDAH</option>
        <option value="AURAI" data-select2-id="42">AURAI</option>
        <option value="0RDAH" data-select2-id="43">0RDAH</option>
        <option value="Ganeshpur " data-select2-id="44">Ganeshpur </option>
        <option value="PURAINI" data-select2-id="45">PURAINI</option>
        <option value="VANSHGOPAL" data-select2-id="46">VANSHGOPAL</option>
        <option value="MAKDAMPUR" data-select2-id="47">MAKDAMPUR</option>
    </select><span
        class="select2 select2-container select2-container--default select2-container--below select2-container--open select2-container--focus"
        dir="ltr" data-select2-id="5" style="width: 100%;"><span class="selection"><span
                class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                aria-expanded="true" tabindex="0" aria-disabled="false"
                aria-labelledby="select2-panchayatSelect-container" aria-owns="select2-panchayatSelect-results"
                aria-activedescendant="select2-panchayatSelect-result-ossu-KURSANDI"><span
                    class="select2-selection__rendered" id="select2-panchayatSelect-container" role="textbox"
                    aria-readonly="true"><span class="select2-selection__placeholder">Select a
                        Panchayat</span></span><span class="select2-selection__arrow" role="presentation"><b
                        role="presentation"></b></span></span></span><span class="dropdown-wrapper"
            aria-hidden="true"></span></span>
</div>